.party-div {
    height: 100%;
    background: linear-gradient(45deg, rgba(128,255,219,.3), rgba(83,144,217,.3));
}

.party-img {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .party-div {
        height: 100%;
    }
    .party-img {
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 1000px)
  and (orientation: landscape) {
      .party-div {
          height: 100%;
      }
      .party-img {
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.party-header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.MuiGrid-item {
    padding-bottom: 60px;
}