.questions-div {
    padding-top: 150px;
    padding-bottom: 100px;
    height: 100% !important;
    align-items: center;
}

.questions-div h1, p {
  margin: auto;
  width: 90%;
}

.questions-div p {
  font-size: large;
}

@media  all 
  and (min-width: 320px) 
  and (max-width: 480px) {
    .questions-div {
      height: 100vh;
    }
    .questions-div h1, h2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 900px)
  and (orientation: landscape) {
    .questions-div {
        height: 100%;
        padding-bottom: 100px;
    }
}