.rsvp-div {
    height: 100vh;
    background-color: rgba(166, 226, 171, 0.1);
    padding-top: 90px;
    padding-bottom: 20px;
}

.rsvp-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 50px !important;
  }

.rsvp-text {
    padding-bottom: 10px;
}

.rsvp-photo {
    max-width: 30%;
    max-height: 30%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rsvp-box {
    padding-top: 0 !important;
}

.failure-form {
    color: red;
}

.rsvp-form {
    padding-top: 5px;
}