.topbar-container {
    background-color: rgba(255,255,255,0.4) !important;
}

.toptext {
    font-size: larger;
}

#lang-menu, .lang-menu-item {
    font-family: "Fairplay Display";
    text-transform: capitalize;
    font-size: large;
}

.nav-link {
    color: black !important;
    text-decoration: none !important;
    font-size: large;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.small-nav-link {
    font-family: "Fairplay Display";
    color: black !important;
    text-decoration: none !important;
    font-size: medium;
}