.about-div {
    height: 85vh;
    background-color: rgba(166, 226, 171, 0.2);
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .about-div {
        height: 60vh;
    }
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 1000px)
  and (orientation: landscape) {
    .about-div {
        height: 110vh;
    }
}

.img-div {
    align-items: center;
    float: left;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 6vh;
}

.divider-div {
    padding-bottom: 6vh;
}

.about-img {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.person1 {
    float: left;
    margin: auto;
    width: 30%;
    margin-left: 20%;
}

.person2 {
    float: left;
    margin: auto;
    width: 30%;
    margin-right: 20%;
}