.App {
  text-align: center;
}

.home-page {
  width:100%;
  height:100vh;
  align-items: center;
}

.MuiBox-root-4 {
  padding-top: 20%;
}

.MuiCard-root {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.pass-modal {
  padding-bottom: 10px;
}

.footer {
  text-align: center;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}