*, html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.home-page {
  width:100%;
  height:100vh;
  align-items: center;
}

.MuiBox-root:not(.topbar) {
  padding-top: calc(100vh/3);
}

.MuiCard-root {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.pass-modal {
  padding-bottom: 10px;
}

.footer {
  text-align: center;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

@media  all 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .footer-text {
      font-size: smaller;
    }
}

@media  all 
  and (min-width: 320px) 
  and (max-width: 480px) {
    .footer-text {
      font-size: smaller;
    }
}

.zhongwen-button {
  position: absolute !important;
  top: 5px;
  right: 5px;
}